<div class="games-index__outer-container">
  <div class="games-index__container">
    <div class="games-index__games-container">
      <h1>Games</h1>
      <%= for game <- @games do %>
        <div>
          <%= link("Join #{game.name}", to: game_path(@conn, :show, game.id, user: @user)) %>
        </div>
      <% end %>
    </div>

    <div class="games-index__game-form-container">
      <h3>Create Game</h3>
      <%= form_for @conn, game_path(@conn, :create), [as: :game], fn f -> %>
      <%= label f, :name %>
      <%= text_input f, :name %>

      <%= submit "Create" %>
    <% end %>
    </div>
  </div>
</div>
