<div class="games-index__outer-container">
  <div class="games-index__container">
    <div class="games-index__games-container">
      <div id="react-app-games" js-user=<%= @user %>></div>
    </div>

    <div class="games-index__game-form-container">
      <%= link("Create Game", to: game_path(@conn, :new)) %>
    </div>
  </div>
</div>
