#react-app-game {
  width: 100%;
  height: 100%;
}

.game__container {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: $off-white;
}

.game__chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: $base-border;
  border-bottom: $base-border;
  padding: $base-spacing;
}

.game__sidebar-container {
  background-color: $off-white;
  border-left: $base-border;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game__users-container {
  padding: $small-spacing;
  height: 5em;
}

.game__messages-container {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  overflow-x: scroll;
}
