.main-panel__container {
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: $off-white;
}

.main-panel__instruction-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5em;
  padding: $small-spacing;
  text-align: center;
  border-bottom: $base-border;
}

.main-panel__color-instruction-text {
  color: black;
}

.main-panel__main-container {
  display: flex;
  flex: 1;
}

.main-panel__start-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-flow: column;
}

.main-panel__colors-container {
  display: flex;
  flex: 1;
}

.main-panel__color-row {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-panel__color-block {
  display: flex;
  flex: 1;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.main-panel__winner-announcement-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: black;
}

.blue {
  background-color: blue;
}

.brown {
  background-color: #7A5230;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: #FF69B4;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
