/* This file is for your main application css. */

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

$blue: #60DFE5;
$orange: #FF7F50;
$off-white: #FEFCFF;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: $off-white;
  height: 100%;
  width: 100%;
}

.header-container {
  width: 100%;
  text-align: center;
  padding: 1em;
}

.header-header {
  color: $blue;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header-text {
  color: $orange;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table {
  width: 30em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.thead {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $blue;
}
