/* This file is for your main application css. */

$dark-gray: #A9A9A9;
$blue: #60DFE5;
$orange: #FF7F50;
$off-white: #FEFCFF;

$base-spacing: 1em;
$small-spacing: $base-spacing / 3;

$base-border: 1px solid $dark-gray;
$base-border-radius: 3px;

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  margin: $base-spacing;
  padding: $small-spacing;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: $base-border-radius;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
a, {
  font-family: "Roboto", sans-serif;
  margin: $small-spacing 0;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  color: $blue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: $off-white;
  height: 100%;
  width: 100%;
}

.header-container {
  width: 100%;
  text-align: center;
  padding: $base-spacing;
}

.header-header {
  color: $blue;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header-text {
  color: $orange;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table {
  width: 30em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.thead {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $blue;
}

@import "_game.scss";
@import "_games-index.scss";
@import "_main-panel.scss";
