<div class=container>
  <div class=header-container>
    <h1 class=header-header>Reactor</h1>
    <p class=header-text>Test your reactions against your friends</p>
  </div>

  <div>
    <h2>Sign in</h2>

    <%= form_for @conn, user_path(@conn, :create), [as: :user], fn f -> %>
      <%= label f, :name %>
      <%= text_input f, :name %>

      <%= submit "Join" %>
    <% end %>
  </div>
</div>
